= form_for([@article, @article.comments.build]) do |f|
  .form-group
    .col-lg-8
      = f.text_area :body, class: "form-control"
      .spacing
  .form-group
    .col-lg-8
      = f.submit nil, class: "btn btn-default"
