%h1 Welcome to the Blog Home Page!
- flash.each do |key, value|
    = content_tag(:div, value, :class => "flash #{key}")
= link_to 'Articles', controller: 'articles'
= link_to 'New article', new_article_path
